<div class="row dashboard ">
   <div class="col-6">
      <h3 class="dashboardt"> My Books To Sell</h3>
      <div class="row">
         <% @books.each_with_index do |book,index| %>
          <div class="col-6" align="center">
             <img class="book-img" src="<%= book.image %>" width="100%">
             <div class="book-title"><a class="title" href="/books/<%= book.id %>"><%= book.title %></a></div>
             <div class="book-author"> <%= book.author %></div>
             <div class="book-price"> <%= book.price %></div>
             <%= link_to 'Destroy', book, :method => :delete, class: 'btn btn-outline-danger btn-sm' %>
             <%= link_to "Edit","/books/#{book.id}/edit", :method => :get, class: "btn btn-outline-success btn-sm" %>
          </div>
        <% end %>
      </div>
   </div>
   <div class="col-6">
      <h3 class="dashboardt"> My Other Treasures To Sell</h3>
      <div class="row">
        <% @items.each_with_index do |item,index| %>
          <div class="col-6" align="center">
             <img class="item-img" src="<%= item.image %>" width="100%">
             <div class="item-title"><a class="title" href="/items/<%= item.id %>"><%= item.title %></a></div>
             <div class="item-price"> <%= item.price %></div>
             <%= link_to 'Destroy', item, :method => :delete, class: 'btn btn-outline-danger btn-sm' %>
             <%= link_to "Edit","/items/#{item.id}/edit", :method => :get, class: "btn btn-outline-success btn-sm" %>          </div>
        <% end %>
      </div>
   </div>
</div>

