<div class="row book" >
   <div class="col-6 info">
      <h2 class="title"><%= @book.title %></h2>
      <h5 class="author"><%= @book.author %></h5>
      <h5><%= @book.price %></h5>
      <h6><%= @book.courses %></h6>
   </div>
   <div class="col-6" >
      <img src="<%= @url %>" style="width:80%;">
   </div>
</div>