<!DOCTYPE html>
<html>
  <head>
    <title>VintageCarl</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%=@background_pic%>">
    <script>
      $(function(){
      // always pass csrf tokens on ajax calls
      $.ajaxSetup(
        {
          headers: {'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')}
        });
      });

      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1886167601676761',
          cookie     : true,
          xfbml      : true,
          version    : 'v3.0'
        });
          
        FB.AppEvents.logPageView();
        FB.getLoginStatus(function(response) {
          if (response.status === "connected" && <%= !@logged_in %>)
          {
            FB.api('/me', {fields: 'link'}, function(response2) 
            {
               $.post('/sessions/', {uid: response.authResponse.userID, provider: "facebook", url: response2.link })
            });
          } 
          else if (response.status === "connected") 
          {
            console.log("logged_in on fb")
          }
          else
          {
            $.ajax({
              url: '/sessions',
              type: 'DELETE',
              success: function(result) {
                  console.log("logged out")
              }
            });
          }
        });
        $('.loginbutton').click(function(){
            FB.login(function(response) {
              $(".login").hide();
              $(".logout").show();
            }, {scope: 'email,user_likes'});
        });
        $('.logoutbutton').click(function(){
            FB.logout(function(response) 
            {
              $(".logout").hide();
              $(".login").show();
            });
        });      
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <%= render "layouts/navbar" %>
    <%= yield %>
  </body>
</html>
